# --- Núcleo Matemático e de Dados ---
numpy
pandas
scipy

# --- Aceleração e Paralelismo ---
numba
numba-cuda[cu13]

# --- Imagens e Utilidades ---
Pillow
tqdm

# --- Análise de Dados e Gráficos ---
matplotlib
seaborn
scikit-image
